<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <main>
        <p id="myResult">This is your result:</p>
        {{{body}}}
    </main>
    <footer>
        <p id="authorName">Author: Weijia Zhou</p>
        <p id ="authorCWID">CWID: 10429862</p>
    </footer>
</body>
</html>