<div class="privatePageStyle">
    <p>FirstName:{{userInfo.FirstName}}</p>
    <p>LastName:{{userInfo.LastName}}</p>
    <p>Profession:{{userInfo.Profession}}</p>
    <p>Bio:{{userInfo.Bio}}</p>
    <a href="/logout">logout</a>
</div>