    <div class="container-static-handle">
        <form id="static-form" method="post">
            <div class="textStyle">
                <label for="textArea">Pleas write down your text:</label><br>
                <input type="text" name="phrase" id="textArea" value="{{textValueArea}}">
            </div>
            <div class="submtBtn">
                <button type="submit">Submit!</button>
            </div>
        </form>
    </div>
        <div class="list">
            <p id="attemptsText">These are all our attempts</p>
            <ol id="attempts">
                
            </ol>
        </div>