<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wesley's site</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <main>
            {{{body}}}
        </main>
        
        <div class="containerFooter">
            <footer>
                <p id="footerStyle">Name: Weijia Zhou</p>
                <p id="footerStyle">CWID:10429862</p>
                <p id="footerStyle">Major:computer science</p>
                <p id="footerStyle">Course: CS546 Web Development</p>
            </footer>
        </div>
    </body>
</html>