<!DOCTYPE html>
<html>
    <head>
        <h1>Weijia_Zhou's site</h1>
        <title>Weijia_Zhou's Panlindrome Checker</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <div class="containerForm">
            <main>
                {{{body}}}
            </main>
        </div>
        <div class="containerFooter">
            <footer>
                <p id="footerStyle">Name: Weijia Zhou</p>
                <p id="footerStyle">CWID:10429862</p>
                <p id="footerStyle">Major:computer science</p>
                <p id="footerStyle">Course: CS546 Web Development</p>
            </footer>
        </div>
        <script src="/public/js/form.js"></script>
    </body>

</html>